<?xml version="1.0" encoding="UTF-8"?>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/XML/XMLDocument.xml to edit this template
-->
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Siignup</servlet-name>
        <servlet-class>com.app.Controller.Siignup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignIn</servlet-name>
        <servlet-class>com.app.Controller.SignIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Adminsigniin</servlet-name>
        <servlet-class>com.app.Controller.Adminsigniin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerSignIn</servlet-name>
        <servlet-class>com.app.Controller.CustomerSignIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCustomer</servlet-name>
        <servlet-class>com.app.Controller.AddCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMeterDetails</servlet-name>
        <servlet-class>com.app.Controller.AddMeterDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCustomerDetails</servlet-name>
        <servlet-class>com.app.Controller.ShowCustomerDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalculateBill</servlet-name>
        <servlet-class>com.app.Controller.CalculateBill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCustomerdetails1</servlet-name>
        <servlet-class>com.app.Controller.UpdateCustomerdetails1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCustomerdetails2</servlet-name>
        <servlet-class>com.app.Controller.UpdateCustomerdetails2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCustomerDetails</servlet-name>
        <servlet-class>com.app.Controller.ViewCustomerDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BillStatus</servlet-name>
        <servlet-class>com.app.Controller.BillStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BillStatus2</servlet-name>
        <servlet-class>com.app.Controller.BillStatus2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BilllStatus1</servlet-name>
        <servlet-class>com.app.Controller.BilllStatus1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentHistory</servlet-name>
        <servlet-class>com.app.Controller.PaymentHistory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Adminsigniin</servlet-name>
        <url-pattern>/Adminsigniin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerSignIn</servlet-name>
        <url-pattern>/CustomerSignIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCustomer</servlet-name>
        <url-pattern>/AddCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMeterDetails</servlet-name>
        <url-pattern>/AddMeterDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCustomerDetails</servlet-name>
        <url-pattern>/ShowCustomerDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalculateBill</servlet-name>
        <url-pattern>/CalculateBill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCustomerdetails1</servlet-name>
        <url-pattern>/UpdateCustomerdetails1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCustomerdetails2</servlet-name>
        <url-pattern>/UpdateCustomerdetails2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCustomerDetails</servlet-name>
        <url-pattern>/ViewCustomerDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BillStatus2</servlet-name>
        <url-pattern>/BillStatus2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BilllStatus1</servlet-name>
        <url-pattern>/BilllStatus1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentHistory</servlet-name>
        <url-pattern>/PaymentHistory</url-pattern>
    </servlet-mapping>
</web-app>
